@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    margin: 0;
    font-family: 'Verdana';
    text-align: center;
}
  
canvas {
    display: block;
}
  

.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100dvh;
    padding: 5%;
    box-sizing: border-box;
    /* background-color: #C1F6FF; */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #374990;
    /* text-transform: uppercase; */
}

button {
    padding: 12px 25px 12px 25px;
    border-radius: 5px;
    border: none;
    font-size: large;
    /* font-family: 'Protest Riot', sans-serif; */
    cursor: pointer;
}

img {
    width: 25vw;
}

#yes {
    background-color: #5BE2A3;
    color: #378F66;
}

#no {
    background-color: #E25B5B;
    color: #993B3B;
}

#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Prevent interaction */
    overflow: hidden;
}

.heart {
    position: absolute;
    color: red;
    font-size: 24px;
    animation: float 3s linear forwards;
    opacity: 0;
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    100% {
        opacity: 0;
        transform: translateY(-100vh) scale(1.5);
    }
}
